---
title: "General Machine Learning Methods"
permalink: /paper_implementation/ml_methology/
layout: archive
categories:
  - Machine learning
excerpt: "Typical ML methods. Including optimization, active functions, normalization, regularization and etc. Methods introduced here are the foundation for advanced deep learning methods"
entries_layout: grid
classes: wide
header:
  teaser: assets/images/GMLM-main-img.jpeg
sidebar:
    nav: Gen-Mthd
---

{% include base_path %}


{% for post in site.mlmethology %}
  {% include archive-single.html %}
{% endfor %}
